{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/all.css" %}" rel="stylesheet">
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>

<body>
  {% include "account/partials/_navbar.html" %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>    
  {% endif %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>
