{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
  Log in
{% endblock title %}Log in

{% block content %}
  <div class="row">
    <div class="col-9 mx-auto mt-4">
      <div class="card">
          <div class="card-header bg-success">
            <h4>
              <i class="fas fa-sign-in-alt"></i>Login</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                {% if form.errors %}
                  Your username and password didn't match.
                  Please try again.
                  {% else %}
                  <p>Welcome, enter your credentials to login. If you don't have an account <a
                    href="{% url 'register' %}">register here</a></p>
                {% endif %}
                <form action="{% url 'login' %}" method="post">
                  {% bootstrap_form form %}
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}" />
                  <p><input type="submit" class="btn btn-success" value="Log in"></p>
                    
                </form>
                <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
              </div>
              <div class="col-5">
                <div class="social">
                  <ul>
                  <li class="facebook"><a href="{% url 'social:begin' 'facebook' %}">Sign
                  in with Facebook</a></li>
                  <li class="twitter"><a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a></li>
                  <li class="google"><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}