{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
  Change your password
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-6 mx-auto mt-4">
      <div class="card">
          <div class="card-header bg-success">
            <h1>Change your password</h1>
          </div>
          <div class="card-body">
            <p>Use the form below to change your password.</p>
            <form action="." method="post">
              {% bootstrap_form form %}
              <p><input type="submit" class="btn btn-success" value="Change"></p>
              {% csrf_token %}
            </form>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}