{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
  Log in
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-4 mx-auto mt-4">
      <div class="card">
          <div class="card-header bg-success">
            <h4>
              <i class="fas fa-sign-in-alt"></i> Login</h4>
          </div>
          <div class="card-body">
            <form action="." method="post">
              {% bootstrap_form form %}
              {% csrf_token %}
              <p><input type="submit" class="btn btn-success" value="Log in"></p>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}